npm-debug.log
npm-debug.log.*
node_modules
config.secrets.json
launchMongo.bat
videos/*
!videos/NOT_EMPTY
materiel/*
!materiel/NOT_EMPTY
public/assets/*
!public/assets/bundle_react.js
!public/assets/bundle_react.js.map
!public/assets/bundle_router.js
!public/assets/bundle_router.js.map
.vscode/*
tmp