extends layout

block content
  section(style="position: fixed; top: 50vh; width: 50%; left: 50vw; transform: translate(-50%, -50%)")
    .alert.alert-danger
      strong Erreur !
      br
      span= message
    if err
      pre= err.stack
