doctype html

html
  meta(charset='utf-8')
  title Mediapiston
  body
    header
      nav.navbar.navbar-light.bg-faded.navbar-full
        a.navbar-brand(href='/') CTN
        div#reactHeader.pull-xs-right
    section.container-fluid
      block content
    script(src='/assets/bundle.js' type='text/javascript')
