extends layout

block search
    form.form-inline.nav.nav-center#searchBox(method="GET" action='/pret-matos/search')
      input.form-control.mdl-shadow--2dp(type='text' name="search" placeholder='Rechercher...')
      button.btn.btn-success-outline.mdl-shadow--2dp(type='submit')
        i.fa.fa-search(aria-hidden='true')

block content
  div#matosList
