extends layout

block content
  div#searchBox
    form.form-inline(method="GET" action='/mediapiston/search')
      input.form-control(type='text' name="search" placeholder='Rechercher...')
      button.btn.btn-success-outline(type='submit')
        i.fa.fa-search(aria-hidden='true')
    div#videosList
