doctype html

html
  meta(charset='utf-8')
  title Mediapiston
  script(data-pace-options='{ "ajax":false, "restartOnPushState":false, "restartOnRequestAfter":false }' src="/defaults/pace.min.js")
  link(href="/defaults/pace-theme.css" rel="stylesheet")
  style.
    // Page load using Pace.js
    body > :not(.pace), body::before, body::after {
      transition: opacity .4s ease-in-out;
    }
    body:not(.pace-done) > :not(.pace),body:not(.pace-done)::before, body:not(.pace-done)::after {
      opacity: 0
    }
  body
    #mainContainer
      #reactApp
      footer
        .container
          span.text-muted Sulu & ADJM pour CTN // beta 2
          a(href="https://www.youtube.com/channel/UC75jolKCt0V_AqHJM2QpWYQ")
            i.fa.fa-youtube(aria-hidden="true")
          a(href="https://www.facebook.com/ctnecl/")
            i.fa.fa-facebook-official(aria-hidden="true")
          a(href="https://twitter.com/ctn_ecl")
            i.fa.fa-twitter(aria-hidden="true")
      script(src='/assets/bundle.js' type='text/javascript')
