#videosList, #matosList
  text-align: center

.videoList .card
  margin: 20px
  flex-grow: 2
  flex-basis: 400px

.matosList .card
  margin: 20px
  flex-grow: 2
  flex-basis: 200px

.card-img-top
  width: 100%
  height: auto

a.cardLink, a.cardLink:hover
  text-decoration: none
  color: black

.videoList, .matosList
  display: flex
  width: 80%
  flex-wrap: wrap
  margin: auto
  justify-content: center

.materielDispo
  color: #3c763d

.videoPlayer
  margin-top: 20px

.videoDetails
  margin-top: 1em
