@import '~slick-carousel/slick/slick.scss'
$slick-font-path: '~slick-carousel/slick/fonts/'
$slick-loader-path: '~slick-carousel/slick/'
@import '~slick-carousel/slick/slick-theme.scss'

footer
  bottom: auto !important

.container-fluid
  padding: 0
  margin: 0

.carouselText
  color: white
  position: absolute
  width: 40%
  left: 20%
  top: 30%

.carouselText h3
  background-color: rgba(0, 0, 0, 0.4)
  padding-left: 1rem
  padding-top: 5px
  padding-bottom: 5px

.carouselText p
  background-color: rgba(0, 0, 0, 0.4)
  padding-left: 1rem
  padding-top: 5px
  padding-bottom: 5px
  position: relative
  left: 10px

.carouselContainer
  height: 100%
  width: 100%
  margin-bottom: 20px
  margin-left: auto
  margin-right: auto

.carouselItem
  height: 0
  padding-top: calc(100vh - 120px)
  width: 100%
  background-size: cover
  position: relative

.slick-thumb .carouselItem
  padding-top: 56.25%

.slick-prev
  left: 25px
  z-index: 1

.slick-next
  right: 25px

.slick-prev:before, .slick-next:before
  color: black !important

.slick-dots
  bottom: 30px !important
  background-color: rgba(0, 0, 0, 0.5)
  transform: scale(0.9)

.slick-dots li
  height: 90px !important
  width: 160px !important
  vertical-align: middle
  margin: 2px 5px !important
