.carouselNavigator
  width: 100%
  text-align: center

.carouselThumb
  cursor: pointer
  border: 1px solid black
  width: 150px
  height: 100px
  display: inline-block
  margin-right: 100px
  text-align: left
  background-size: cover

.carouselText
  background-color: rgba(255, 255, 255, 0.9)
  color: black
  position: relative
  top: 100%
  transform: translate3d(0, -100%, 0)

.carouselThumbText
  font-size: 14px
  padding-left: 0.5em
