.carouselText
  background-color: rgba(255, 255, 255, 0.9)
  color: black
  position: relative
  transform: translateY(-180%)
  padding-left: 1em
  padding-top: 5px
  padding-bottom: 1px

.carouselText p
  margin-bottom: 0.5rem

.carouselContainer
  height: 90%
  width: 90%
  margin-top: 10px
  margin-bottom: 30px
  margin-left: auto
  margin-right: auto

.carouselItem
  height: 0
  padding-top: 56.25%
  width: 100%
  background-size: cover

.slick-prev:before, .slick-next:before
  color: black !important

.slick-dots
  bottom: -50px !important
  background-color: rgba(0, 0, 0, 0.5)
  transform: scale(0.9)

.slick-dots li
  height: 90px !important
  width: 160px !important
  vertical-align: middle
  margin: 2px 5px !important