label
  margin-bottom: 0px

form.form-horizontal
  padding-bottom: 10px
  width: 70%
  text-align: center

fieldset
  width: 80% !important

fieldset.mainInput input
  font-size: 2em

.formTitle
  display: block
  padding-top: 10px
  width: 100%
  text-align: center
  font-weight: 300

fieldset.form-submit
  width: 100% !important
  text-align: center

.uploadBox
  width: calc((200px * 16 / 9))
  height: 200px
  text-align: center
  border-style: dashed
  border-width: medium
  border-color: rgb(200, 200, 200)
  color: rgb(50, 50, 50)
  border-radius: 5px
  display: table-cell
  vertical-align: middle
  user-select: none
  position: relative

.uploadBox *
  position: relative
  z-index: 2

.uploadBox .coverBox
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.uploadBox input[type="file"]
  opacity: 0
  cursor: pointer
  z-index: 3

.uploadBox canvas
  cursor: pointer
  z-index: 1
  opacity: 0.7
  border-radius: 5px

.uploadBox button
  position: relative
  z-index: 4
  display: none

.uploadBox p
  background-color: rgba(255, 255, 255, 0.5)

.upload-container
  display: table
  border-collapse: separate
  border-spacing: 50px
  margin-left: auto
  margin-right: auto

.mdl-progress
  width: 100%
  display: none
  position: absolute
  bottom: 10px
