.relatedVideoList
  text-align: center
  padding-top: 15px

@media (max-width: 1200px)
  .col-xl-4
    margin-left: auto
    margin-right: auto
    width: 70%
  .col-xl-8
    margin-left: auto
    margin-right: auto
    width: 100%  

.relatedVideoList .display-1
  font-size: 2rem

.mdl-card
  height: 100px
  width: 100%
  background-size: cover
  margin-top: 20px

.mdl-card__actions
  height: 52px
  padding-left: 16px
  padding-top: 10px
  background: rgba(0, 0, 0, 0.4)
