.plyr
  width: 100%

.videoControls
  margin-top: 10px
  text-align: right

.videoControls > *
  display: inline-block
  margin-left: 5px

.videoDetails
  display: block
  background-color: #fbfbfb
  padding: 10px
